////
/// ----------------------------------------------------------------------------------------
/// Index view styles
/// ----------------------------------------------------------------------------------------
/// @author - Alden Brown
/// @description - Index view layout and styling
////
/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$small-up} {
    body {
        background-color: #ccc;
    }
    .nav {
        width: 100%;
        height: 100px;
        background-color: #fff;
        .logo {
            position: absolute;
            background-color: black;
            width: 100px;
            height: 50px;
            margin-left: 50%;
            left: -50px;
            top: 10px;
        }
        .menu {
            position: absolute;
            right: 10px;
            top: 40px;
            display: none;
        }
        li {
            float: left;
            margin-left: 10px;
            font-size: 16px;
            list-style: none;
        }
    }
}
/// End of Small Up
/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@media #{$small-only} {
    .index {}
}
/// End of Small Only
/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$medium-up} {
    .nav {
        .logo {
            margin: auto;
            left: 20px;
        }
        .menu {
            display: block;
        }
    }
}
/// End of Medium Up
/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@media #{$medium-only} {
    .index {}
}
/// End of Medium Only
/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$large-up} {
    .index {}
}
/// End of Large Up
