////
/// ----------------------------------------------------------------------------------------
/// SASS Template with foundation's media queries
/// ----------------------------------------------------------------------------------------
/// @TODO - update template name and description
/// @author - Modop Developer Bad Ass #1
/// @description - what this be?
/// @example - a code example for the documented item
/// @see - http://sassdoc.com for documentation structure and best practices
////


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$small-up} {

    .foo {

    }
}
/// End of Small Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@media #{$small-only} {

    .foo {

    }
}
/// End of Small Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$medium-up} {

    .foo {

    }
}
/// End of Medium Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@media #{$medium-only} {

    .foo {

    }
}
/// End of Medium Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$large-up} {

    .foo {

    }
}
/// End of Large Up
