<div id="main-content">
    <div class="nav">
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li>Home</li>
                <li>Subscribe</li>
                <li>Free trial</li>
            </ul>
        </div>
    </div>
</div>
