@font-face {
	font-family: 'Uos_FuturaStd-Medium';
	src: url('../assets/fonts/FuturaStd-Medium.eot');
	src: local('☺'), url('../assets/fonts//FuturaStd-Medium.woff') format('woff'), url('../assets/fonts//FuturaStd-Medium.ttf') format('truetype'), url('../assets/fonts//FuturaStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uos_FuturaStd-Heavy';
	src: url('../assets/fonts//FuturaStd-Heavy.eot');
	src: local('☺'), url('../assets/fonts//FuturaStd-Heavy.woff') format('woff'), url('../assets/fonts//FuturaStd-Heavy.ttf') format('truetype'), url('../assets/fonts//FuturaStd-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
