/**
    ----------------------------------------------------------------------------------------
    Global sass variables
    ----------------------------------------------------------------------------------------
    @description - the variables which will be used for whole experience and subsequent
    components, color palettes, mix-ins and so on...
*/


/**
    ----------------------------------------------------------------------------------------
    Color palette
    ----------------------------------------------------------------------------------------
    @usage - colors will be pre fixed with rgba, then the color i.e. "gray" and the component.
*/
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;
$erroryellow   : #fff200;

$somthingElse: #333;

/**
    ----------------------------------------------------------------------------------------
    Web fonts
    ----------------------------------------------------------------------------------------
    @description - web fonts used to override the base font declaration "Helvetica Neue"
*/
