



<!--  orange footer layout -->
<div id="orange-footer-wrapper">
    <div class="orange-footer-container">
        <div class="row large-row">
            <div class="large-12 columns">
                <p class="copy-legal">
                    © 2016 Viacom International Inc. Created by Stephen Hillenburg. © 2016 Spin Master. All Rights Reserved. © 2016 CEC Entertainment Concepts, L.P. All Rights Reserved.
                    <br>
                    <br> NO PURCHASE NECESSARY. Many will enter, few will win. If you are under the age of majority in your state of residence, you must get your parent or legal guardian’s permission before entering. Official Rules and how to enter can be
                    viewed at www.missionfindthefun.com. Certain Restrictions Apply. Sweepstakes open to legal residents of the 48 contiguous US and DC either between the ages of 3 and 15 years old at the time of entry or the parent or legal guardian
                    of a child between the ages of 3 and 15 years old at the time of entry. The Sweepstakes begins at 12:00:01 p.m. ET on 3/28/16 and ends at 11:59:59 p.m. ET on 4/30/16. Void in AK, HI and Puerto Rico and where prohibited or restricted
                    by law. Odds of winning depend on the total number of eligible entries received. One (1) Grand Prize and one hundred (100) First Prizes available, total ARV $12,373.96. Sponsor: Viacom Media Networks, a division of Viacom International
                    Inc., 1515 Broadway, New York, NY 10036.
                </p>
            </div>
        </div>
    </div>
</div>
<!--  end oranger footer layout -->
