<p align="center">
    <strong>OFFICIAL RULES</strong>
</p>
<p align="center">
    "<strong>Fly Away With Nick Sweepstakes</strong>"<strong></strong>
</p>
<p align="center">
    Online Entry Only
</p>
<p align="center">
    <strong> </strong>
</p>
<p>
    NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN THIS SWEEPSTAKES. A purchase will not increase your chances of winning. Void in Alaska,
Hawaii, Puerto Rico and where prohibited or restricted by law.    <strong>You must have permission from your parent or legal guardian prior to entering. Many will enter, one will win.</strong>
</p>
<p>
    <strong>Sponsor.</strong>
    Viacom Media Networks, a division of Viacom International Inc., 1515 Broadway, New York, NY 10036.
</p>
<p>
    <strong>Administrator. </strong>
    National Sweepstakes Company, LLC, 693 East Ave, Suite 302, Rochester, NY 14607<strong></strong>
</p>
<p>
    <strong>1. </strong>
    <strong>Eligibility. </strong>
    To enter the "<em>Fly Away With Nick Sweepstakes</em>" (the "<u>Sweepstakes</u>"), you must be: (i) a legal resident of one (1) of the forty-eight (48)
    contiguous United States or the District of Columbia; and (ii) either between the ages of six (6) and twenty-one (21) years old at time of entry or the
    parent or legal guardian ("<u>Parent</u>") of children between the ages of six (6) and twenty-one (21) at the time of entry (each a "<u>Participant</u>").
    If you are under the age of majority in your state of residence (18, except AL and NE, 19 and MS, 21) (a "<u>Minor</u>"), you must have permission from
    your Parent prior to entering and such entry shall be deemed submitted by your Parent and shall be treated as if your Parent had made such entry and, if
    you are deemed the winner, the Grand Prize (as defined below) shall be awarded to your Parent. Employees, officers, directors and members of Sponsor,
    Administrator, Universal City Development Partners, Ltd. d/b/a Universal Orlando Resort (the "<u>Trip Package Provider</u>"), all prize providers
    associated with the Sweepstakes and any of their respective parents and affiliate companies, licensors, distributors, divisions and their advertising,
    production and promotion agencies (collectively, the "<u>Sweepstakes Entities</u>") as well as the immediate family members (spouse, parents, siblings and
    children), regardless where they reside, and household members of each such employees and any individual who has won a prize in any Sponsor-related
    sweepstakes/ promotion in the twelve (12) months prior to the start of the Sweepstakes Period (as defined below) are not eligible to enter. Eligibility
    will be determined by Sponsor and/or Administrator in its/their sole discretion. The Sweepstakes is subject to applicable federal, state and local laws and
    regulations and is void where prohibited. Participation in the Sweepstakes constitutes your full and unconditional agreement to be bound by these Official
    Rules and Sponsor's and/or Administrator's decisions, which are final and binding in all matters related to the Sweepstakes. Winning a prize is contingent
    upon fulfilling all requirements set forth herein. Information provided by you will be used solely for the purposes of the prize fulfillment in accordance
    with the requirements of the Children's Online Privacy Protection Act ("<u>COPPA</u>").
</p>
<p>
    <strong>2. </strong>
    <strong>Timing.</strong>
The Sweepstakes begins at 12:00:01 a.m. Eastern Time ("<u>ET</u>") on April 4, 2016 and ends at 11:59:59 p.m. ET on May 1, 2016 (the "    <u>Sweepstakes Period</u>"). For the purposes of this Sweepstakes a day ("<u>Day</u>") is defined as a calendar day beginning at 12:00:01 a.m. ET and
    ending at the following 11:59:59 p.m. ET. Sponsor's computer is the official time-keeping device for the Sweepstakes.
</p>
<p>
    <strong>3. </strong>
    <strong>How to Enter</strong>
    . Get your Parent's permission if you are a Minor, then during the Sweepstakes Period, visit www.flyawaywithnick.com (the "<u>Sweepstakes Site</u>") and
    complete a registration form. Completed entry form must be submitted in accordance with the online directions during the Sweepstakes Period. Use of a
    profane username or the submission of false or misleading personal information will be grounds for disqualification. Determination of information to be
    profane, false, or misleading is at the sole discretion of the Sponsor. You must complete all required data. Incomplete or inaccurate entries are void.
    Limit one (1) entry per Day per person/household/e-mail address. Collection and use of personally identifiable information will be in accordance with the
    Sponsor's Online Privacy Policy as posted on its website, <u>www.nick.com</u>. All entries must be received at the Sweepstakes Site by 11:59:59 p.m. ET, on
    May 1, 2016.
</p>
<p>
    Use of any automated system to participate is prohibited and will result in disqualification. Released Parties (as defined in Section 9, below) are not
    responsible for lost, late, stolen, damaged, incomplete, invalid, unintelligible, garbled, delayed or misdirected entries.<a name="OLE_LINK2"> </a>Once
    submitted, all entries become the exclusive property of Sponsor, and will not be acknowledged or returned. In the event of a dispute as to who submitted an
    entry, the authorized account holder of the e-mail address used to submit the entry will be deemed to be the Participant. The "authorized account holder"
    is the natural person assigned an e-mail address by an Internet access provider, online service provider or other organization responsible for assigning
    email addresses for the domain associated with the submitted address. Potential winners may be required to show proof that he/she is authorized account
    holder. It is solely the responsibility of the Participant to notify Sponsor in writing if the Participant changes his or her e-mail address during the
    Sweepstakes Period. If for any reason the Sweepstakes is not capable of running as planned, including infection by computer virus, bugs, tampering,
    unauthorized intervention, fraud, technical failures, or any other cause beyond the control of the Sponsor which corrupt or affect the administration,
    security, fairness, integrity or proper conduct of this Sweepstakes, Sponsor reserves the right at their sole discretion to cancel, terminate, modify or
    suspend the online portion of the Sweepstakes. Should the Sweepstakes be terminated or cancelled prior to the stated expiration date, notice will be posted
    on the Sweepstakes Site, and any entries received prior to the termination or cancellation will be included in the drawing. In the event that there becomes
    a dispute over who submitted a winning entry, entries will be declared made by the authorized account holder of the e-mail address used at the time of
    entry, and potential winner may be required to provide identification sufficient to show that he/she is the authorized account holder of the e-mail
    address. Entries specifying an invalid, non-working, or inactive email address will be disqualified and ineligible to win. Multiple Participants are not
    permitted to share the same email address. Bulk, automated and/or third-party entries are prohibited and will be disqualified. Any attempt by any
    Participant to obtain more than the stated number of entries by using multiple and/or different identities, forms, registrations, email addresses, logins,
    or any other methods will void that Participant's entries, and that Participant may be disqualified at Sponsor's and/or Administrator's discretion. Entries
    generated by a script, computer programs, macro, programmed, robotic or other automated means will be disqualified. Entries that are incomplete, illegible,
    corrupted, false, lost, late or misdirected, deceptive or otherwise not in compliance with the Official Rules will be disqualified from the Sweepstakes at
    Sponsor's sole and absolute discretion.
</p>
<p>
    <strong><u>Opt Out</u></strong>
    <strong>
        : The Parent of any Participant who is under the age of thirteen (13) will be sent an initial e-mail notification advising Parent that his/her child
        has registered at the Sweepstakes Site for entry into the Sweepstakes, and will be provided with the option to withdraw the entry. If the option to
        withdraw is not exercised within the time period indicated on such notice, the entry will be deemed submitted into the Sweepstakes.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>4. </strong>
    <strong>Potential Winners Selection.</strong>
    <strong> </strong>
    Administrator will conduct a random drawing from all eligible entries received during the Sweepstakes Period on or about May 2, 2016 in order to select one
    (1) potential winner (the "<u>Potential Winner</u>") of the Sweepstakes Grand Prize (as herein after defined). Administrator will notify the Potential
    Winner by email on or about May 2, 2016; if the Potential Winner is a Minor, the Parent of the Potential Winner will instead be notified by e-mail to
    inform them that their child has won. In order to proceed further in the Sweepstakes, Potential Winner (or if Potential Winner is a Minor, Potential
    Winner's Parent) must respond to Administrator initial notice within three (3) days or be subject to disqualification. By entering, Participant (or
    Participant's parent if Participant is a Minor) grants permission to be contacted by Administrator via e-mail in connection with the Sweepstakes.
    Participant must comply with all terms and conditions of these Official Rules and <a name="_DV_C52">winning is</a> contingent upon fulfilling all
    requirements set forth herein. A Potential Winner is not deemed an official winner (the "<u>Official Winner</u>") until Potential Winner's eligibility has
been verified and Potential Winner has been notified that verification is complete.<a name="_DV_M47"></a><a name="_DV_M49"></a><a name="_DV_M50"></a><a name="_DV_M51"></a><a name="_DV_M53"></a><a name="_DV_M54"></a><a name="_DV_M55"></a><a name="_DV_M56"></a><a name="_DV_M57"></a><a name="_DV_M58"></a><a name="_DV_M59"></a><a name="_DV_M60"></a><a name="_DV_M61"></a><a name="_DV_M62"></a><a name="_DV_M64"></a><a name="_DV_M65"></a><a name="_DV_M66"></a><a name="_DV_M68"></a><a name="_DV_M69"></a><a name="_DV_M70"></a><a name="_DV_M73"></a><a name="_DV_M75"></a><a name="_DV_M77"></a><a name="_DV_M78"></a>    <a name="_DV_M79"></a><a name="_DV_M80"></a><a name="_DV_M81"></a><a name="_DV_M82"></a><a name="_DV_M83"></a> Sponsor's and Administrator's decisions are
    final and binding in all matters related to the Sweepstakes. Neither Sponsor nor Administrator will accept screen shots or other evidence of winning in
    lieu of its validation process. If Sweepstakes Site fails for any reason, any entry received during that time will be deemed a defective entry.
</p>
<p>
    <strong>5. </strong>
    <strong>Verification of Potential Winner</strong>
    . Potential Winner (or if Potential Winner is a Minor, Potential Winner's Parent) will be required to sign and return an Affidavit of Eligibility,
    Liability &amp; Publicity Release (unless prohibited by law) (collectively an "<u>Affidavit</u>"), which must be received by Administrator within two (2)
    days of the date on the notice. If a Potential Winner cannot be contacted, fails to execute and return the Affidavit within the required time period, or
    any prize is returned as undeliverable, or he/she refuses his/her prize for any reason, Potential Winner forfeits the prize and Sponsor and/or
    Administrator will select an alternate winner by random drawing of the remaining eligible entries received during the Sweepstakes Period.
</p>
<p>
    <strong>6. </strong>
    <strong>Grand Prize</strong>
    . One (1) grand prize will be awarded in the Sweepstakes (the "<u>Grand Prize</u>").<strong> </strong>The Grand Prize winner (the "<u>Winner</u>") will
    receive a four (4) day/three (3) night trip for Winner and up to three (3) guests (one [1] guest<strong> </strong>must be the Parent of the Winner if
    Winner is a Minor) (individually a "<u>Guest</u>", collectively the "<u>Guests</u>") to Universal Orlando® Resort in Orlando, FL (the "<u>Trip Package</u>
    ") as well as one thousand dollars ($1,000.00) spending money in the form of an American Express gift card as provided by Sponsor for the Winner only
    (subject to the terms and restrictions of the card issuer). Trip Package includes the following: (i) round-trip economy class air transportation for Winner
    and up to three (3) Guests from a major commercial airport near Winner's residence (as determined by Trip Package Provider in its sole discretion) to
    Orlando, FL; (ii) three (3) nights standard hotel accommodations (one room, quadruple occupancy, room and tax only) at Universal's Cabana Bay Beach Resort
    (or another on-site hotel as determined by Trip Package Provider in its sole discretion) (the "<u>Hotel</u>"); (iii) non-exclusive ground transportation to
    and from the Orlando, FL airport and Hotel; (iv) 3-Park Unlimited Passes for admission to Universal's Islands of Adventure, Universal Studios Florida and
    Wet 'n Wild for Winner and up to (3) Guests; (v) complimentary passes to one (1) Blue Man Group Show for Winner and up to three (3) Guests (exact date and
    time to be determined by Trip Package Provider in its sole discretion); and (vi) opportunity for a meet and greet session with Kira Kosarin and Jack Griffo
    (collectively, the "<u>Talent</u>"), co-stars on Nickelodeon live-action television series entitled "<em>The Thundermans</em>" (subject to Talent's
    availability due to death, disability or force majeure events and subject to Sponsor's final determination) and experience the "Skull Island: Reign of
    Kong" VIP Preview event to take place in June 2016 (exact date and time to be solely determined by Trip Package Provider). If Talent is not available to
    participate in the Sweepstakes fulfillment for any reason, Sponsor will make best commercial efforts to substitute another Nickelodeon celebrity cast
member talent, but neither Sponsor nor Trip Package Provider will be held responsible for such substitution or the lack thereof.    <strong>Total approximate retail value ("<u>ARV</u>") of the Grand Prize: $4,424.50.</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>7. </strong>
    <strong>Prize Conditions/Restrictions</strong>
    . Travel arrangement must be made through Trip Package Provider and all elements of the Trip Package must be redeemed at the same time; no changes will be
    permitted after confirmation of any redemption.
    <strong>
        Travel must take place between June 22, 2016 and June 25, 2016 (or on such other date as solely determined by Trip Package Provider to coincide with
        the
    </strong>
    <strong>"Skull Island: Reign of Kong" VIP Preview event)</strong>
    . If Winner is unable to travel during the aforementioned time period, Grand Prize will be forfeited, no further alternative compensation will be provided
    and Sponsor shall select an alternate Potential Winner from the eligible entries received during the Sweepstakes Period, subject to time restrictions. Trip
    Package is subject to certain restrictions and exact travel times and arrangements are subject to availability and blackout periods. ARV of the Trip
    Package may vary depending on point of departure, travel dates, ground transportation, and/or airline fare fluctuations; any difference between stated ARV
    and final ARV of Grand Prize will not be awarded. If Winner resides in the state of Florida, an alternate form of transportation may be provided instead of
    roundtrip air transportation at Trip Package Provider sole determination. If Winner elects to partake in any or all portions of the Trip Package with fewer
    than three (3) Guests, the Trip Package will be awarded to Winner and each participating Guest and any remainder of the Trip Package will be forfeited and
    shall not be subject to further or alternate compensation. If the Winner elects to travel or participate in the Trip Package with more than three (3)
    Guests, such additional guest(s) shall be solely responsible for any and all costs and arrangements associated with such travel. Any Winner or Guest who is
    a Minor must be accompanied by his/her parent or legal guardian at all times. Parent of Winner must be an adult of at least twenty-one (21) years of age in
    order to check into the Hotel. If Winner is between the ages of eighteen (18) and twenty-one (21), he/she must be accompanied by an adult of at least
    twenty-one (21) years of age in order to check into the Hotel. Specific travel dates and arrangements are subject to air travel, holiday, blackout dates
    and other prize and travel restrictions. Reservations are subject to availability. Trip Package must be booked at least ten (10) business days prior to
    intended departure date, subject to Sponsor's and Trip Package Provider's prior approval.
</p>
<p>
    <a name="_DV_M43"></a>
    <a name="_DV_M44"></a>
    <a name="_DV_M45"></a>
    <strong> </strong>
</p>
<p>
    Winner and his/her Guest(s) must possess United States government-approved travel documents and be willing to sign any other legal documents required by
    Sponsor or Administrator and travel on the same itinerary. Sponsor and Trip Package Provider are not responsible for any cancellations, delays, diversions
    or substitutions, or any act or omission whatsoever with respect to the Trip Package. Except as indicated in the Trip Package, all air travel taxes and/or
    expenses, including applicable departure taxes or fees, inspection charges and security charges, insurance, meals, unspecified ground transportation,
    taxes, gratuities, travel insurance, bag check fees, parking fees, laundry service, food, alcoholic beverages, incidentals (including mini-bar), phone
    charges, merchandise, souvenirs, gasoline and other expenses not specifically identified in these Official Rules are solely the responsibility of the
    Winner and Guest(s). Winner and Guests must comply with all hotel check-in requirements, including, but not limited to, the presentation of a major credit
    card. Unused components of the Trip Package<strong> </strong>have no redeemable cash value. All airline tickets issued in connection with the Trip Package
    are not eligible for frequent flyer miles, stopovers, upgrades and cannot be used in conjunction with any other promotion or offer. No changes will be made
    to travel details once any element(s) of the travel arrangements have been booked, except at Trip Package Provider's sole discretion. Lost or stolen
    tickets, travel vouchers or certificates or similar items, once they are in Winner's possession, will not be replaced. No refund or compensation will be
    made in the event of the cancellation or delay of any flight. Travel is subject to the terms and conditions set forth in these Official Rules and those set
    forth by Trip Package Provider's air travel prize supplier, as detailed in the passenger ticket contract issued by such supplier. In the event the Winner
    or Guest(s) engage in behavior that (as determined by Sponsor in its sole discretion) is obnoxious or threatening, illegal or that is intended to annoy,
    abuse, threaten or harass any other person, Sponsor reserves the right to terminate the Trip Package or other applicable experience early, and send Winner
    and Guest home with no further compensation. In the event Winner or any Guest engages in behavior during travel and/or other applicable experience that (as
    determined by Sponsor in its sole discretion) is illegal, tortious, or subjects Grand Prize Winner or Guest(s) to arrest or detention, Sponsor shall have
    no obligation to pay any damages, fees, fines, judgments or other costs or expenses of any kind whatsoever incurred by Grand Prize Winner or Guest(s) as a
    result of such conduct. NEITHER SPONSOR NOR TRIP PACKAGE PROVIDER SHALL BE LIABILE FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR
    EXPENSES RESULTING FROM OR ARISING OUT OF ANY TRAVEL RELATED TO THE PRIZE OR ANY OTHER ASPECT OF GRAND PRIZE WINNER'S OR ANY GUEST'S ACCEPTANCE OR USE OF
    THE GRAND PRIZE.
</p>
<p>
    Sponsor is not responsible for any mechanical difficulties or failure connected with the Sweepstakes, the prizes, or any act or omission whatsoever. No
    transfer, substitution, or cash equivalent for any portion of the Trip Package is allowed except at Sponsor's sole discretion. Sponsor reserves the right
    in its sole and absolute discretion, to substitute the Trip Package or component with a prize of equal or greater value. Trip Package is non-transferable
    and may not be given, bartered, substituted, sold, or exchanged for cash or another prize. In the event that a Potential Winner or Official Winner chooses
    not to accept his/her prize, or is unable to be notified, an alternate Potential Winner will be randomly selected from all of the remaining eligible
    entries received during the Sweepstakes Period.
</p>
<p>
    <strong>8. </strong>
    <strong>General Conditions</strong>
    . By submitting an entry, each Participant or his/her Parent if such Participant is a Minor (whether declared an Official Winner or not) agrees (and agrees
    to affirm such in writing) to: (i) abide by and be bound by these Official Rules and the decisions of the Sponsor and/or Administrator on all matters
    relating to this Sweepstakes which decisions are final and binding in all respects; (ii) waive any right to claim ambiguity in the Sweepstakes or these
    Official Rules; and, (iii) warrant and represent that the use of the materials submitted in this Sweepstakes will not violate the rights of any third
    parties. Entries must be in keeping with Sponsor's positive image, as determined by Sponsor and Administrator in their sole discretion. Any materials
    containing obscenity, crude language, or descriptions of a violent or sexual nature (as defined solely by Sponsor or Administrator) will not be accepted
    and the associated entry will be disqualified. All federal, state or other tax liabilities (including income taxes) arising from the Grand Prize contained
    in this Sweepstakes will be solely the responsibility of the Winner. Receipt of any of the prize components of this Sweepstakes is conditioned upon
    compliance with any and all applicable federal, state and local laws, rules, and regulations. Noncompliance with any of the above will result in
    disqualification.
</p>
<p>
    If for any reason the Sweepstakes is not capable of running as planned, including by reason of infection by computer virus, bugs, tampering, unauthorized
    intervention, fraud, technical failures, or any other cause beyond the control of the Sweepstake Entities that corrupt or affect the administration,
    security, fairness, integrity or proper conduct of this Sweepstakes, Sponsor reserves the right at its sole discretion to cancel, terminate, modify or
    suspend the Sweepstakes, or any part of it, at its sole discretion. In the event that the operation, security, or administration of the Sweepstakes is
    impaired in any way for any reason, including, but not limited to fraud, virus, or other technical problem, the Sponsor may, in its sole discretion,
    either: (a) suspend the Sweepstakes to address the impairment and then resume the Sweepstakes in a manner that best conforms to the spirit of these
    Official Rules; or (b) cancel the Sweepstakes and award the Grand Prize from among the eligible entries received up to the time of the impairment in a
    manner that is fair and equitable as determined by Sponsor.
</p>
<p>
    Entries generated by a script, computer programs, macro, programmed, robotic or other automated means will be disqualified. Entries that are incomplete,
    illegible, corrupted, false, lost, late or misdirected, deceptive or otherwise not in compliance with the Official Rules may be disqualified from the
    Sweepstakes at Sponsor's sole and absolute discretion. Proof of sending or submission of entry will not be deemed proof of receipt by Sponsor.
</p>
<p>
    In the event a Potential Winner or Official Winner is disqualified for any reason under the provisions of these Official Rules, such Potential Winner or
    Official Winner and all rights to any prize will be forfeited in its entirety and a random drawing will be conducted in order to select an alternate
    Potential Winner, if time permits.
</p>
<p>
    Sponsor reserves the right at its sole discretion to disqualify any individual it finds to be attempting to tamper with or undermine the entry process, the
    web site, and/or the legitimate operation of the Sweepstakes; to violate the Official Rules; or to act in an unsportsmanlike or disruptive manner or with
    the intent to annoy, abuse, threaten, or harass any other person. Any attempt by any person to damage any website associated with or undermine the
    legitimate operation of the Sweepstakes may be a violation of criminal and civil law, and, should such an attempt be made, Sponsor reserve the right to
    seek prosecute or seek damages from any such person to the fullest extent permitted by law. Sponsor's failure to enforce any term of these Official Rules
    shall not constitute a waiver of that provision.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>9. </strong>
    <strong>Release.</strong>
    By submitting an entry, each Participant and such Participant's Parent if Participant is a Minor (whether declared an Official Winner or not) agrees (and
    agrees to affirm such in writing) to forever and irrevocably release, discharge, indemnify and hold harmless the Sweepstakes Entities, and each of their
    respective officers, directors, licensors, employees, representatives, contractors, and agents (the "<u>Released Parties</u>") from any liability, claims,
    demands, and causes of action from personal injury, loss or damage of any kind, including death, or property damage, theft, or loss suffered or resulting
    in whole or in part, directly or indirectly, from participation in this Sweepstakes or the use, misuse or acceptance or possession of the Grand Prize or
    any portion thereof, or participation in any Sweepstakes-related activity, ACCESS TO AND USE OF EACH WEBSITE ASSOCIATED WITH THIS SWEEPSTAKES AND/OR
    DOWNLOADING FROM SUCH SITE, OR ANY CLAIMS BASED ON PUBLICITY RIGHTS, DEFAMATION OR INVASION OF PRIVACY, OR MERCHANDISE DELIVERY. By participating in this
    Sweepstakes, entrants agree that the Released Parties are not responsible for any claims, damages, lawsuits, causes of action, proceedings, or liability
    due to any injuries, theft, damages, expenses, costs, or losses to any person (including death) or property of any kind resulting from, arising from, or in
    connection with, in whole or in part, directly or indirectly, from (i) any typographical or other error in the publication or printing of the Official
    Rules, and/or the offering or announcement of any prize, (ii) lost, late, stolen, misdirected, damaged, incomplete or garbled entries, (iii) any error in
    the collection or retention of entry information, including, but not limited to, incorrect or inaccurate transcription, receipt or transmission of any part
    of the entry due to human error, (iv) any wrongful, negligent, or unauthorized act or omission on the part of any of the Sweepstakes Entities, or any of
    their agents or employees, (v) the Sweepstakes and any elements thereof, and the participation or inability to participate in any Sweepstakes-related
    activity or participation in this Sweepstakes, including, but not limited to, any damage to participant's (or any third person's) telephone system and/or
    its contents related to or resulting from any part of the Sweepstakes, (vi) any malfunction of the telephone system, whether technical or due to human
    error in nature, lost/delayed data transmission, omissions, interruptions, deletion, defect, line failures, postponement, cancellation, or modification of
    the Sweepstakes, including, but not limited to, interruption or inability to access the Sweepstakes due to hardware or software compatibility problems of
    any telephone network (TSP), computer online systems (ISP), servers or providers, computer equipment, software, failure on account of technical problems or
    traffic congestion on the internet or at any website or any combination thereof, including injury or damage to participants or to any other person's
    telephone system related to or resulting from participating, (vii) acceptance, receipt, possession, attendance at, travel related to, defects in, misuse,
    inability to use, or use of any component of the prize including, but not limited to, lost, stolen, damaged, delayed, or misdirected or destroyed prize (or
    any element thereof), or (viii) any change in the prizing (or any components thereof) due to unavailability, any of which is due to reasons beyond
    Sweepstakes Entities' control, including, but not limited to, by reason of any acts of God, any action(s), regulation(s), order(s) or request(s) by any
    governmental or quasi-governmental entity (whether or not such action(s), regulation(s), order(s) or request(s) prove(s) to be invalid), equipment failure
    including but not limited to overloading of the Sweepstakes Site due to excessive use, threatened or actual terrorist acts, air raid(s), blackout(s),
    act(s) of public enemy, earthquake, war (declared or undeclared), fire, flood, epidemic(s), explosion, unusually severe weather, hurricane, embargo, labor
    dispute or strike (whether legal or illegal), labor or material shortage, transportation interruption of any kind, work slow-down, civil disturbance,
    insurrection, riot, or any other cause beyond any of the Sweepstakes Entities' sole and reasonable control, or as otherwise permitted in these Official
    Rules; (ix) unauthorized human intervention in any part of the entry process or the Sweepstakes; or (x) technical or human error which may occur in the
    administration of the Sweepstakes or the processing of entries. No more than the stated number of prizes will be awarded. In event that production,
    technical, seeding, programming or any other reasons cause more than stated number of prizes as set forth in these Official Rules to be available and/or
    claimed. Sponsor reserves the right to award only the stated number of prizes at random from all legitimate, un-awarded, eligible entries.
</p>
<p>
    In addition, Released Parties shall not be responsible for any cancellations, delays, diversions or substitutions or any acts or omissions whatsoever by
    any performer(s)/event(s), air carrier(s), hotel(s), or other transportation companies or any other persons providing any of these services and
    accommodations to passengers including any results thereof such as changes in services or accommodations necessitated by same. The passenger contracts in
    use by the airlines or other transportation companies shall constitute the sole contracts with respect to the Winner's and his/her Guests' transportation
    and such contracts shall be solely between the Winner, his/her Guests and such transportation companies. Sweepstakes Entities shall not be parties to such
    contracts and shall assume no responsibility in such connection. Released Parties shall not be liable for any loss or damage to baggage or the loss, theft
    or damage of cash, cameras, jewelry, securities, heirlooms, negotiable papers or other valuables. Winner and his/her Guests assume all liability for any
    injury or damage caused, or claimed to be caused, by participating in this Sweepstakes or use or redemption of the Grand Prize. The Released Parties are
    not responsible if entry or participation is prevented, or if the Grand Prize or any component thereof cannot be awarded, due to cancellations, delays, or
    interruptions due to acts of God, acts of war, natural disasters, weather, or terrorism.
</p>
<p>
    WITHOUT LIMITING THE FOREGOING, THE SWEEPSTAKES, ALL PRIZES, AND ALL MATERIALS PROVIDED ON OR THROUGH ANY APPLICABLE THE SWEEPSTAKES SITE ARE PROVIDED "AS
    IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
    <a name="_DV_C225">
        SOME JURISDICTIONS MAY NOT ALLOW LIMITATIONS OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSION OF IMPLIED WARRANTIES, SO
        SOME OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. CHECK YOUR LOCAL LAWS FOR ANY RESTRICTIONS OR LIMITATIONS.
    </a>
</p>
<p>
    <a name="_DV_C73"><strong>10. </strong><strong>Publicity</strong></a>
    . Except where prohibited by law, Winner grants to Sponsor (which grant will be confirmed in writing on request of Sponsor), Trip Package Provider and
    their respective parent, subsidiaries, affiliates, agents (including advertising and promotion agencies), contractors, suppliers, and those acting pursuant
    to its authority, the right and permission to print, publish, broadcast, and use, worldwide in any media now known or hereafter developed, including but
    not limited to the world wide web, at any time or times, Winner's name, portrait, picture, voice, likeness, and biographical information for advertising,
    trade, and promotional purposes (including the announcement of his or her name on television or radio broadcast) without additional consideration,
    compensation, permission, or notification. Participants agree that Sponsor shall own the entries, which will not be acknowledged or returned, and that
    Sponsor and its designees shall have the perpetual, worldwide right to edit, publish, and use the entries in any way and in any media for trade,
    advertising, promotional, and/or other purposes as Sponsor and/or its designees may determine without further consideration to entrants or any third party.
</p>
<p>
    <strong>11. </strong>
    <strong>Governing Law/Jurisdiction.</strong>
    The Sweepstakes and these Official Rules are governed by and shall be construed in accordance with the substantive laws of the State of New York (as
    distinguished from the choice of law rules) and the United States of America applicable to contracts made and performed entirely in New York and where the
    relevant contacts are with such state. Except where prohibited, as a condition of participating in this Sweepstakes, each participant agrees that any and
    all disputes, claims and causes of action (excluding Prize Claims, as defined below) arising out of or connected with this Sweepstakes, the Prizes awarded,
    or the determination of the Official Winner shall be resolved individually, without resort to any form of class action; provided, however, that claims for
    bodily injury, personal injury or property damage arising out of the redemption, use or misuse of the Trip Package component of the Grand Prize, or any
    portion thereof, ("<u>Prize Claims</u>") must be submitted to the jurisdiction and venue of the federal and state courts of the State of Florida, and
    construed and enforced in accordance with the laws of the State of Florida, without reference to the choice of law provisions thereof. Participant further
    agrees that in any cause of action, the Sweepstakes Entities' entire liability will be limited to the cost of entering and participating in the
    Sweepstakes, and in no event shall the Sweepstakes Entities be liable for attorneys' fees and/or experts' fees and costs. Participant waives the right to
    claim any damages whatsoever, including, but not limited to, punitive, consequential, direct, or indirect damages and participant further waives all rights
    to have damages multiplied or increased.<strong> </strong>
</p>
<p>
    <strong>12. </strong>
    <strong>Participant's <a name="_DV_C95">Personally Identifiable</a><a name="_DV_M106"></a> Information. </strong>
    By entering the Sweepstakes, each Participant agrees that Participant's entry and any other personally identifiable information collected or used in
    connection with the Sweepstakes is subject to and may be used by Sponsor in accordance with its Privacy Policy, as posted on <u>www.nick.com</u>.
</p>
<p>
    <strong>13. </strong>
    <strong>Winner List</strong>
. For a copy of these Official Rules or a winner list, send a self-addressed stamped envelope with proper postage affixed to ""    <em>Fly Away With Nick Sweepstakes</em>" c/o National Sweepstakes Company, LLC, P.O. Box 10505, Rochester, NY 14610. Official Rules will be made available
    for 30 days following the end of the Sweepstakes.
</p>
<p>
    <strong>14. </strong>
    Universal City Development Partners, Ltd. d/b/a Universal Orlando Resort is a prize supplier only in this Sweepstakes, is not a sponsor of this
    Sweepstakes, and is not responsible for the administration of the Sweepstakes, the collection of the entries or the conduct of the draws.
    <br clear="all"/>
</p>
<p align="center">
    <strong>ABBREVIATED RULES</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        NO PURCHASE NECESSARY. MANY WILL ENTER, ONE WILL WIN. Any entrant who is considered under the age of majority in his/her state of residence must have
        permission from his/her parent or legal guardian prior to entering.
    </strong>
    <strong> </strong>
    <strong>Subject to Official Rules.</strong>
    For Official Rules, prize descriptions and odds disclosure, go to <u>www.flyawaywithnick.com</u>. Open only to legal residents of the 48 contiguous US and
    DC who are between 6 and 21 years old at the time of entry or parents of children who are between 6 and 21 years old at the time of entry.
    <a name="_DV_C114">
        Void in AK, HI, Puerto Rico and where prohibited by law. Sweepstakes starts at 12:00:01 a.m. ET on 4/4/16 and ends at 11:59:59 p.m. ET on 5/1/16.
    </a>
    One (1) Grand Prize available in the Sweepstakes, ARV: $4,424.50. Sponsor: Viacom Media Networks, a division of Viacom International, Inc., 1515 Broadway,
    New York, NY 10036.<a name="_DV_C118"> </a>
</p>
