/**
    ----------------------------------------------------------------------------------------
    Sass classes
    ----------------------------------------------------------------------------------------
    @description - modular re-usable classes for the win.
*/
@import "helper/sprite";

.row {
    background-color: $white;
}

.icon-facebook {
  @include sprite($facebook);
}

.icon-instagram {
  @include sprite($instagram);
}

.icon-pinterest {
  @include sprite($pinterest);
}

.icon-tumblr {
  @include sprite($tumblr);
}

.icon-twitter {
  @include sprite($twitter);
}

.icon-vimeo{
  @include sprite($vimeo);
}
.icon-youtube {
  @include sprite($youtube);
}
