/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$chrome-name: 'chrome';
$chrome-x: 0px;
$chrome-y: 0px;
$chrome-offset-x: 0px;
$chrome-offset-y: 0px;
$chrome-width: 128px;
$chrome-height: 128px;
$chrome-total-width: 170px;
$chrome-total-height: 170px;
$chrome-image: '../assets/images/sprite/sprite.png';
$chrome: (0px, 0px, 0px, 0px, 128px, 128px, 170px, 170px, '../assets/images/sprite/sprite.png', 'chrome', );
$facebook-name: 'facebook';
$facebook-x: 138px;
$facebook-y: 0px;
$facebook-offset-x: -138px;
$facebook-offset-y: 0px;
$facebook-width: 32px;
$facebook-height: 32px;
$facebook-total-width: 170px;
$facebook-total-height: 170px;
$facebook-image: '../assets/images/sprite/sprite.png';
$facebook: (138px, 0px, -138px, 0px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'facebook', );
$instagram-name: 'instagram';
$instagram-x: 138px;
$instagram-y: 42px;
$instagram-offset-x: -138px;
$instagram-offset-y: -42px;
$instagram-width: 32px;
$instagram-height: 32px;
$instagram-total-width: 170px;
$instagram-total-height: 170px;
$instagram-image: '../assets/images/sprite/sprite.png';
$instagram: (138px, 42px, -138px, -42px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'instagram', );
$pinterest-name: 'pinterest';
$pinterest-x: 138px;
$pinterest-y: 84px;
$pinterest-offset-x: -138px;
$pinterest-offset-y: -84px;
$pinterest-width: 32px;
$pinterest-height: 32px;
$pinterest-total-width: 170px;
$pinterest-total-height: 170px;
$pinterest-image: '../assets/images/sprite/sprite.png';
$pinterest: (138px, 84px, -138px, -84px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'pinterest', );
$tumblr-name: 'tumblr';
$tumblr-x: 0px;
$tumblr-y: 138px;
$tumblr-offset-x: 0px;
$tumblr-offset-y: -138px;
$tumblr-width: 32px;
$tumblr-height: 32px;
$tumblr-total-width: 170px;
$tumblr-total-height: 170px;
$tumblr-image: '../assets/images/sprite/sprite.png';
$tumblr: (0px, 138px, 0px, -138px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'tumblr', );
$twitter-name: 'twitter';
$twitter-x: 42px;
$twitter-y: 138px;
$twitter-offset-x: -42px;
$twitter-offset-y: -138px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 170px;
$twitter-total-height: 170px;
$twitter-image: '../assets/images/sprite/sprite.png';
$twitter: (42px, 138px, -42px, -138px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'twitter', );
$vimeo-name: 'vimeo';
$vimeo-x: 84px;
$vimeo-y: 138px;
$vimeo-offset-x: -84px;
$vimeo-offset-y: -138px;
$vimeo-width: 32px;
$vimeo-height: 32px;
$vimeo-total-width: 170px;
$vimeo-total-height: 170px;
$vimeo-image: '../assets/images/sprite/sprite.png';
$vimeo: (84px, 138px, -84px, -138px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'vimeo', );
$youtube-name: 'youtube';
$youtube-x: 126px;
$youtube-y: 138px;
$youtube-offset-x: -126px;
$youtube-offset-y: -138px;
$youtube-width: 32px;
$youtube-height: 32px;
$youtube-total-width: 170px;
$youtube-total-height: 170px;
$youtube-image: '../assets/images/sprite/sprite.png';
$youtube: (126px, 138px, -126px, -138px, 32px, 32px, 170px, 170px, '../assets/images/sprite/sprite.png', 'youtube', );
$spritesheet-width: 170px;
$spritesheet-height: 170px;
$spritesheet-image: '../assets/images/sprite/sprite.png';
$spritesheet-sprites: ($chrome, $facebook, $instagram, $pinterest, $tumblr, $twitter, $vimeo, $youtube, );
$spritesheet: (170px, 170px, '../assets/images/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
